/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

/** CARDS */
mat-card {
    max-width: 2080px;
    min-width: 310px;
    background-color:   #ecf2fa    ;
    width: 100%;
    float: left;
  }

  .header-image {
    background-image: url('https://img.icons8.com/plasticine/2x/search.png');
    background-size: cover;
  }

  .header-image-obra {
    background-image: url('https://i.ya-webdesign.com/images/building-icons-png.png');
    background-size: cover;
  }

  /** FIN CARDS */  