.full-width-table {
  width: 100%;
  background-color: white;
  border-color: black;
  text-decoration-color: black;
 
  border: 1.5px solid black;
  max-height: 500px;
}
.mat-header-cell{
  background-color: whitesmoke;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

.button{
  background-color: #4CAF50;
}

@media (max-width: 600px) {
  .mobile-label {
    width: 95px;
    display: block;
        font-weight: bold;
  }

  .mat-header-cell  {
    display: none;
  }

  .mat-cell { 
    flex-direction: column;
    align-items: start;
    display: block;
    padding: 8px 24px;
  }

  
  .mat-header-row {

    display: block;
  }
  
}