.flex-me {
    display: inline-flex;
    flex-flow: row wrap;
    background: grey;
  }
  
  mat-card {
    
    background-color:   #ecf2fa    ;
    width: 50%;
    float: left;
    
  }



  

   card-header{
    color: black;
  }