 
<head></head>
<body>
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="15px">
    <mat-card  fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Graficos</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <grafico-torta></grafico-torta>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="15px">
    <mat-card  fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title>Actividad General</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <grafico-barra></grafico-barra>
      </mat-card-content>
    </mat-card>
  </div>
</body>