
  .example-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYt2qgglF0Gm7QR3MKPt5PlrrgyGfoE_v0WhMl1RLctL8ZSP2T&s');
    background-size: cover;
  }

  
  .example-header-image2 {
    background-image: url('https://image.flaticon.com/icons/png/512/1310/1310798.png');
    background-size: cover;
  }

  .flex-me {
    display: inline-flex;
    flex-flow: row wrap;
    background: grey;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  
  mat-card {
    max-width: 2080px;
    min-width: 310px;
    background-color:   white    ;
    width: 100%;
    float: left;
    overflow: auto;

  }

  mat-card-title{
    color: black;
  }

 