.full-width-table {
  width: 100%;
  background-color: white;
  border-color: black;
  text-decoration-color: black;
  align-items: center;
  border: 1.5px solid black;
  overflow: auto;
}
.mat-cell {
  color: #086788;
}
.mat-header-cell{
  background-color: #E8E8E8;
  color: #086788;
}