
  .example-card {
    max-width: 400px;
    background-color:   #979a9a    ;
    width: 50%;
    float: left;
  }
  
  .example-header-image {
    background-image: url('https://cdn1.iconfinder.com/data/icons/round-ui/169/64-512.png');
    background-size: cover;
  }
  