
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card  fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{member.title}}</mat-card-title>
        <mat-card-subtitle>{{member.subtitle}}</mat-card-subtitle>-->
        <mat-card-title>Viviendas</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
  
            <div id="container" class="contenedor"></div>
  
      </mat-card-content>
    </mat-card>
  </div>
  
  
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{member.title}}</mat-card-title>
        <mat-card-subtitle>{{member.subtitle}}</mat-card-subtitle>-->
        <mat-card-title>Infraestructura</mat-card-title>
    </mat-card-header>
      
      <mat-card-content>
      
           <div id="container2" class="contenedor"></div>
      
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{member.title}}</mat-card-title>
        <mat-card-subtitle>{{member.subtitle}}</mat-card-subtitle>-->
        <mat-card-title>Proyecto</mat-card-title>
    </mat-card-header>
      
      <mat-card-content>
      
           <div id="container4" class="contenedor"></div>
      
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{member.title}}</mat-card-title>
        <mat-card-subtitle>{{member.subtitle}}</mat-card-subtitle>-->
        <mat-card-title >Mejoramiento</mat-card-title>
    </mat-card-header>
      
      <mat-card-content>
      
           <div id="container3" class="contenedor"></div>
      
      </mat-card-content>
    </mat-card>
  </div>