.contenedor {
    width: 50%;
    /* whatever width you want */
    padding: 1 1 1 10.25%;
    display: inline-block;
    position: relative;
  }
  .main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* fill parent */
    background-color: deepskyblue;
    /* let's see it! */
    color: white;
  }