
  
  .example-header-image {
    background-image: url('https://cdn1.iconfinder.com/data/icons/round-ui/169/64-512.png');
    background-size: cover;
  }
  

  .div .flex-me {
    display: inline-flex;
    flex-flow: row wrap;
    background: #ecf2fa;
    justify-content: center;
    align-content: space-between;
    margin-left: auto;
  }
  
  mat-card {
    max-width: 360px;
    min-width: 280px;
    background-color:   #ecf2fa    ;
    width: 50%;
    justify-content: center;
    align-content: space-between;
    float: left;
    margin-left: 15px;
    flex-direction: row ;
  }

  mat-card-title{
    color: black;
  }