

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card class="porcentaje" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <!--<div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{member.title}}</mat-card-title>
        <mat-card-subtitle>{{member.subtitle}}</mat-card-subtitle>-->
        <mat-card-title>Curva de Avance</mat-card-title>
        <mat-card-subtitle>Avance previsto y real</mat-card-subtitle>
    </mat-card-header>
      
      <mat-card-content>
      
           <div id="containerProyecto" class="contenedor"></div>
      
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card class="pesos" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
          <div mat-card-avatar class="header-image2"></div>
        <!--<div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{member.title}}</mat-card-title>
        <mat-card-subtitle>{{member.subtitle}}</mat-card-subtitle>-->
        <mat-card-title>Curva de Inversión</mat-card-title>
        <mat-card-subtitle>Avance financiero previsto</mat-card-subtitle>
    </mat-card-header>
      
      <mat-card-content>
      
           <div id="containerProyectoInversion" class="contenedor"></div>
      
      </mat-card-content>
    </mat-card>
  </div>
