.flex-me {
    display: inline-flex;
    flex-flow: row wrap;
    background: grey;
  }
  
  mat-card {
    
    background-color:   #979a9a    ;
    width: 100%;
    float: left;
  }

  
  mat-card {
    
    min-width: 280px;
    background-color:   #f2f3f3    ;

    float: right;
  }

   card-header{
    color: black;
  }