.flex-me {
    display: inline-flex;
    flex-flow: row wrap;
    background: grey;
  }
  
  mat-card {
    max-width: 400px;
    background-color:   #979a9a    ;
    width: 50%;
    float: left;
  }

  
  .flex-me {
    display: inline-flex;
    flex-flow: row wrap;
    background: grey;
  }
  
  mat-card {
    max-width: 400px;
    min-width: 280px;
    background-color:   #f2f3f3    ;
    width: 50%;
    float: right;
  }

   card-header{
    color: black;
  }