 
  .div .flex-me {
    display: inline-flex;
    flex-flow: row wrap;
    background: grey;
  justify-content: center;
  flex-wrap: nowrap;
  }
  
  .flex-item {
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  mat-card {
    max-width: 720px;
    min-width: 310px;
    background-color:   #ecf2fa    ;
    width: 100%;
    float: left;
    align-content: space-between;
    margin-left: 5px;
    justify-content: center;
  }
  
  .content{
    justify-content: center;
    align-content: space-between;

  }

   card-header{
    color: black;
  }
  
  mat-card-subtitle ,mat-card-title{
    color: black;
  }

  .divUltimas{
    
  padding-top: 1%;
  padding-right: 2%;
  padding-bottom: 0;
  padding-left: 16px;
  }

  .divMovimiento{
    
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 0;
    padding-left: 1%;
    }