
<div class=" content">
    <div class=" row">
      <div class="divUltimas" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
        <mat-card   fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
          <mat-card-header>
            <!--<div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{member.title}}</mat-card-title>
            <mat-card-subtitle>{{member.subtitle}}</mat-card-subtitle>-->
            <mat-card-title>Ultimas Obras</mat-card-title>
            <mat-card-subtitle>Actividad</mat-card-subtitle>
          </mat-card-header>
          
          <mat-card-content>
      
            <tabla-nuevas-obras></tabla-nuevas-obras>
      
          </mat-card-content>
        </mat-card>
      </div>
      <div  class="divMovimiento"  fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
        <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
          <mat-card-header>
            <!--<div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{member.title}}</mat-card-title>-->
            <mat-card-title>Movimiento de Obras</mat-card-title>
            <mat-card-subtitle>Actividad</mat-card-subtitle>
          </mat-card-header>
          
          <mat-card-content>
      
            <tabla-actividades></tabla-actividades>
      
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  
      
      