.sidenav-container {
  height: 100%;
  background: white;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: initial;
  background: #07a0c3;
  position: sticky;
  color: white
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #07a0c3;
}

.mat-drawer{
  background: #eff9f6;
}