<div [@routerTransition]>
        <a [routerLink]="['/obras/proyectos']" [routerLinkActive]="['router-link-active']" class="">          
        <button pButton 
                class="ui-button-rounded ui-button-primario" 
                icon="fa fa-plus" 
                label="Proyectos">                      
        </button> 
        </a>
        &nbsp;&nbsp;
        <a [routerLink]="['/obras/acuerdos']" [routerLinkActive]="['router-link-active']" class="">          
        <button pButton 
                class="ui-button-rounded ui-button-primario"
                icon="fa fa-plus" 
                label="Acuerdos ">
        </button>
        </a>
        &nbsp;&nbsp;
     <button pButton 
                class="ui-button-rounded ui-button-primario"
                icon="fa fa-plus" 
                label="Contratos">
        </button>
        &nbsp;&nbsp;
        <a [routerLink]="['/obras/mapa']" [routerLinkActive]="['router-link-active']" class="">          
        <button pButton 
                class="ui-button-rounded ui-button-primario"
                icon="fa fa-map" 
                label="Mapa de Obras">
        </button>
</a>
</div>